nav a:hover {
    opacity: 0.7;
}

a button:hover {
    box-shadow: none;
}

a div {
    cursor: pointer;
}

.right-header a button:hover {
    box-shadow: none;
}

body {
    font-family: lato;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    color: #fff;
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 900px;
    background-image: url(img/BG_img.jpg);
}

.top_header_line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    font-family: lato;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    transition: 1s;
}

nav a {
    transition: 0.3s;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-right: 50px;
}

.subtext {
    border-left: solid 2px #fff;
    padding: 0px 0px 0px 30px;
}

h4 {
    font-family: Lato;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    margin: 50px 0px 7px 0px;
}

nav {
    margin-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 1650px;
}



.right-header {
    font-weight: medium;
    margin-top: 32px;
    font-size: 18px;
    line-height: 24px;
}

.right-header button {
    margin-left: 50px;
    width: 306px;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

.right-header:before {
    content: url(img/Icons/Vector-1.svg);
    margin-right: 10px;
    position: relative;
    top: 2px;
}

h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 0px;
}

h4 {
    font-family: Lato;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
    margin: 50px 0px 7px 0px;
}

.text_block {
    width: 753px;
}

.text_block p {
    font-size: 18px;
    line-height: 24px;
    font-family: lato;
    font-weight: 500;
    color: #E7E7E7;
    width: 415px;
}

.action_bar {
    margin-top: 26px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.action_bar button {
    color: #fff;
    background-color: #4B0C3B;
    width: 306px;
    height: 60px;
    margin-top: 12px;
}

.map span {
    display: block;
    margin-left: 20px;
    color: #E7E7E7;
    font-size: 18px;
}

.data {
    display: inline-block;
    font-family: Lato;
    text-transform: uppercase;
    margin-top: 35px;
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 14px;
}

.data span {
    border-bottom: 2px dashed #FFFFFF;
    transition: 0.2s;
    cursor: pointer;
}

.data span:hover {
    border-bottom: 2px dashed rgba(255, 255, 255, 0);
}

.data:before {
    content: url(img/Icons/Calendar.svg);
    margin-right: 10px;
}


.video:before {
    content: url(img/Icons/Play.svg);
    margin-right: 15px;
}

.video_text {
    display: inline-block;
}

.video_text {
    position: relative;
    bottom: 9px;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 24px;
    color: #E7E7E7;
}

.video {
    margin-top: 35px;
    height: 64px;
}

.video_text span {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.save_nature img {
    width: 1128px;
    height: 752px;
}

.save_nature {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.save_nature .text {
    margin-left: 26px;
}

h2 {
    margin: 30px 0px 38px 0px;
    font-weight: 900;
    font-size: 68px;
    line-height: 81px;
}

.text p {
    border-left: 2px solid #19A250;
    padding-left: 18px;
    color: #555;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-left: 0px;
}

.text a {
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #4B0C3B;
    margin: 70px 0px 0px 20px;
    cursor: pointer;
}

.text a:after {
    content: url(img/Icons/Arrow%201.svg);
    margin-left: 15px;
    transition: 0.3s;
}

.text a:hover:after {
    content: url(img/Icons/Arrow%201.svg);
    margin-left: 40px;

}

.text a:hover {
    color: #853A76;
}

.card {
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    font-size: 48px;
    font-family: Yeseva One;
    height: 258px;
    width: 340px;
    padding: 38px 0px 0px 50px;
    color: #303030;
}

.dark {
    background-color: #4B0C3B;
    color: #fff;
}

.card .subscreib {
    font-family: lato;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #1B601F;
}

.dark .subscreib {
    color: #ffffff;
}

.card span {
    line-height: 64px;
    font-size: 120px;
}

.facts .cards {

    width: 1230px;
    height: 622px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: wrap;
    margin-top: 20px;
}

.facts .text {
    width: 390px;
}

.facts {
    margin-top: 146px;
    display: flex;
}

main {
    display: flex;
    justify-content: center;
}
